### For loops

Whenever you want to apply any transformation to all elements in a list, you iterate through them with a `for` loop.

In [1]:
names_list = ["Justine", "Anabel", "Karl"]

for name in names_list:
    print("Hello " + name + "!")

Hello Justine!
Hello Anabel!
Hello Karl!

Here, the word `name` could really be anything. It is just a placeholder that takes the value of each element in the for loop in every sucessive iteration, until the loop reaches the end of the list. Using a diferent name does not change the result:

In [2]:
for dinosaur in names_list:
    print("Hello " + dinosaur + "!")

Hello Justine!
Hello Anabel!
Hello Karl!

If we wanted to store the resulting transformations of our loop into a new list, we would define an empty list first, and then `append()` all the elements as we iterate through the loop:

In [3]:
greetings = []

for name in names_list:
    greetings.append("Hello " + name + "!")

In [4]:
greetings

['Hello Justine!', 'Hello Anabel!', 'Hello Karl!']

**Exercise 1**. Create a List named `lower_names` with all the names of the students in your batch. Include name and surname, all in lowercase (like `john doe`).

In [5]:
lower_names = ['mag', 'ran', 'chud']

**Exercise 2** Create a new list `capital_names`  with both the names and surnames capitalized (like `John Doe`), by iterating through the first list with a `for` loop.

### Conditions with `if`

Whenever you want to do something only if a condition is met, you will need an `if` statement. Let's say we want to greet people only if their name starts with "A". We will add a few more names to our list:

In [6]:
names_list = ["Justine", "Amabel", "Karl", "Anna", "Lina", "Sergei", "Magnus", "Aurora"]

We can check one by one whether they start with "A" by selecting them from the list by their position using `[]`, and using the string method you already learned `starts_with()`:

In [7]:
# Justine
print(names_list[0].startswith("A"))

# Amabel
print(names_list[1].startswith("A"))

False
True

These booleans, `True` or `False`, are exactly what `if` statements need. Whenever a condition is true, the code below the `if` statement runs; if the condition is false, the code is skipped and nothing happens:

In [8]:
condition = True

if condition:
    print("yay")

yay

In [9]:
condition = False

if condition:
    print("yay")

So we can now tie everything together:

- A for loop that iterates through the names.

- An `if` statment that checks whether the name starts with "A".

- A greeting.

In [10]:
for name in names_list:
    if name.startswith("A"):
        print("Hello " + name + "!")

Hello Amabel!
Hello Anna!
Hello Aurora!

An `else` statement can be added if you want to do something with the elements that did not meet the condition. 

After the `if` and the `else` statements, you can continue coding normally â€”and the code will run independently of any conditions. Here, we print some text and a line break:

In [11]:
for name in names_list:
    if name.startswith("A"):
        print("Hello " + name + "!")
    else:
        print("Bye " + name + "!")

Bye Justine!
Hello Amabel!
Bye Karl!
Hello Anna!
Bye Lina!
Bye Sergei!
Bye Magnus!
Hello Aurora!

Let's add a text that gets printed after each iteration of the loop, so it is clearer what's going on...

In [26]:
for name in names_list:
    if name.startswith("A"):
        print("Hello " + name + "!")
    else:
        print("Bye " + name + "!")
    print("next iteration incoming... \n") # indenting this line along the last print statement gets rid of 'next iteration coming' for the last iteration

Bye Justine!
next iteration incoming...

Hello Amabel!
next iteration incoming...

Bye Karl!
next iteration incoming...

Hello Anna!
next iteration incoming...

Bye Lina!
next iteration incoming...

Bye Sergei!
next iteration incoming...

Bye Magnus!
next iteration incoming...

Hello Aurora!
next iteration incoming...

**Exercise 3** In the previous code, the "next iteration incoming..." text gets printed also for the last iteration, which might be confusing for whoever is reading the output of this code. Tweak the code so that this text only gets printed if we are not in the last element of our list.

**Tip**: it is totally normal if you don't know how to approach this exercise right away. You might need to use something we have not seeen in this lesson or the previous one. Google is your friend! If you are stuck for a long time (above 30 min), and have already tried many things, it's time to ask for help to your instructor.

In [13]:
# code here
for name in names_list:
    if name.startswith("A"):
        print("Hello " + name + "!")
    else:
        print("Bye " + name + "!")
    if name != names_list[-1]:
        print("next iteration incoming... \n")

Bye Justine!
next iteration incoming...

Hello Amabel!
next iteration incoming...

Bye Karl!
next iteration incoming...

Hello Anna!
next iteration incoming...

Bye Lina!
next iteration incoming...

Bye Sergei!
next iteration incoming...

Bye Magnus!
next iteration incoming...

Hello Aurora!

### Bonus exercises

In [14]:
# some lists and series to work with
import pandas as pd

car_brands = ["BMW", "Volkswagen", "Mercedes", "Ford", "Apple", "Toyota", 
              "Tesla", "Kia", "Porsche", "Mazda", "Honda", "Jaguar", 
              "Mitsubishi", "Audi", "Bentley", "Bugatti", "Chrisler"]

fibonacci = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 53, 89, 144]

characters = [["Harry", "Hermoine", "Ron"], 
              ["Daenerys Targaryen", "Jon Snow", "Tyrion Lannister", 
               "Cercei Lannister", "Arya Stark", "Sansa Stark"],
              ["Aragorn", "Gandalf", "Frodo", "Legolas", "Gollum", "Gimli"],
              ["Walter White", "Jesse Pinkman", "Gus Fring"]
             ]

sex_and_the_city = ["Carrie", "Samantha", "Charlotte", "Miranda"]

numbers = [1, 51, 59, 2, 95, 25, 28, 67, 14, 63, 84, 33, 56, 31, 54, 97, 77, 
            98, 46, 84, 6, 66, 86, 77, 69, 19, 77, 7, 76, 19, 59, 77, 28, 34, 
            94, 4, 45, 95, 41, 66, 5, 38, 35, 57, 84, 38, 94, 65, 45, 80, 83, 
            22, 12, 100, 52, 55, 31, 69, 29, 67, 4, 39, 87, 49, 81, 82, 96, 4, 
            85, 62, 90, 72, 70, 26, 29, 63, 48, 94, 58, 9, 49, 79, 33, 63, 41, 
            13, 90, 37, 31, 3, 11, 54, 56, 72, 91, 97, 2, 83, 82, 6]

numbers_ser = pd.Series(numbers)

**Exercise 4:** 

Implement the for loop that greets people for the `characters` list you used in the previous exercises. For now, do not include any condition â€”just say hello to every character. What do you need to do to iterate through lists inside a list?

In [15]:
# code here
# flattened_lists = []
for sublists in characters:
    for name in sublists:
      print(f'hello {name}')

hello Harry
hello Hermoine
hello Ron
hello Daenerys Targaryen
hello Jon Snow
hello Tyrion Lannister
hello Cercei Lannister
hello Arya Stark
hello Sansa Stark
hello Aragorn
hello Gandalf
hello Frodo
hello Legolas
hello Gollum
hello Gimli
hello Walter White
hello Jesse Pinkman
hello Gus Fring

**Exercise 5:** 

Tweak the code of the previous exercise to greet characters based on these conditions:

- If their name is composed of two words (Name Surname), the greeting should be "Hello Name, from the house of Surname".

- If their name is shorter than 6 characters, the greeting should replicate the last letter of the name as many times as needed until it reaches 6 characters.

In [16]:
# code here
# flattened_lists = []
for sublists in characters:
    for name in sublists:
      if len(name.split()) == 2:
          surname = name.split()[1]
          print(f'hello {name.split()[0]} from the house of {surname}')
      elif len(name) < 6:
        print(f'{name + name[-1] * (6 - len(name))}') # if name is less than 6 characters, subtracts it from 6 and multiplies the last letter by the difference
      else:
          print(f'hello {name}')

Harryy
hello Hermoine
Ronnnn
hello Daenerys from the house of Targaryen
hello Jon from the house of Snow
hello Tyrion from the house of Lannister
hello Cercei from the house of Lannister
hello Arya from the house of Stark
hello Sansa from the house of Stark
hello Aragorn
hello Gandalf
Frodoo
hello Legolas
hello Gollum
Gimlii
hello Walter from the house of White
hello Jesse from the house of Pinkman
hello Gus from the house of Fring

**Exercise 6:** 


Take 50 samples(with replacement), each one of size 10 from `numbers_ser` series.

In [17]:
#code here
sample = numbers_ser.sample(n=10, replace=True)
list_of_samples = []

for i in range(3):
  list_of_samples.append(sample)

list_of_samples

[75    63
 90    11
 26    77
 67     4
 5     25
 38    41
 65    82
 47    65
 15    97
 75    63
 dtype: int64,
 75    63
 90    11
 26    77
 67     4
 5     25
 38    41
 65    82
 47    65
 15    97
 75    63
 dtype: int64,
 75    63
 90    11
 26    77
 67     4
 5     25
 38    41
 65    82
 47    65
 15    97
 75    63
 dtype: int64]

In [18]:
my_list = [5, 3, 5, 1, 0, 7, 8, 1, 9, 5, 5, 7, 3, 4, 8, 9, 5, 3, 3, 2, 6, 1]

In [19]:
import pandas as pd
my_series = pd.Series(my_list)
my_series

0     5
1     3
2     5
3     1
4     0
5     7
6     8
7     1
8     9
9     5
10    5
11    7
12    3
13    4
14    8
15    9
16    5
17    3
18    3
19    2
20    6
21    1
dtype: int64

In [20]:
my_sample = my_series.sample(n=5)
my_sample

10    5
16    5
3     1
18    3
7     1
dtype: int64

In [21]:
sample1 = my_series.sample(n=3, replace=True, random_state=42)
sample2 = my_series.sample(n=3, replace=True, random_state=42)
print(sample1, '\n', sample2)

6     8
19    2
14    8
dtype: int64
 6     8
19    2
14    8
dtype: int64

In [22]:
list_of_samples = []

list_of_samples.append(my_series.sample(n=10, replace=True))
list_of_samples.append(my_series.sample(n=10, replace=True))
list_of_samples.append(my_series.sample(n=10, replace=True))
list_of_samples.append(my_series.sample(n=10, replace=True))
list_of_samples.append(my_series.sample(n=10, replace=True))

list_of_samples

[15    9
 8     9
 2     5
 15    9
 12    3
 21    1
 20    6
 17    3
 10    5
 12    3
 dtype: int64,
 2     5
 4     0
 13    4
 21    1
 18    3
 20    6
 17    3
 20    6
 12    3
 0     5
 dtype: int64,
 16    5
 18    3
 14    8
 15    9
 10    5
 6     8
 16    5
 13    4
 5     7
 13    4
 dtype: int64,
 18    3
 4     0
 15    9
 20    6
 20    6
 17    3
 11    7
 5     7
 10    5
 20    6
 dtype: int64,
 11    7
 18    3
 9     5
 12    3
 4     0
 18    3
 12    3
 1     3
 16    5
 20    6
 dtype: int64]

In [23]:
#for loop runs the code 5 times
list_of_samples = []
for el in [0, 1, 2, 3, 4]:
    list_of_samples.append(my_series.sample(n=10, replace=True))
list_of_samples

[5     7
 8     9
 7     1
 19    2
 12    3
 7     1
 5     7
 2     5
 7     1
 12    3
 dtype: int64,
 11    7
 8     9
 19    2
 11    7
 16    5
 0     5
 1     3
 10    5
 9     5
 1     3
 dtype: int64,
 9     5
 14    8
 8     9
 20    6
 2     5
 20    6
 13    4
 10    5
 7     1
 3     1
 dtype: int64,
 20    6
 10    5
 21    1
 19    2
 0     5
 18    3
 20    6
 0     5
 7     1
 3     1
 dtype: int64,
 21    1
 6     8
 2     5
 12    3
 4     0
 16    5
 15    9
 2     5
 15    9
 17    3
 dtype: int64]

In [24]:
list_of_samples = []

for i in range(5): # it is also possible range(1, 6). In this case your numbers will be 1-5. With range(5), it is 0-4
    list_of_samples.append(my_series.sample(n=10, replace=True))
list_of_samples

[20    6
 2     5
 4     0
 3     1
 8     9
 0     5
 14    8
 18    3
 0     5
 2     5
 dtype: int64,
 9     5
 20    6
 20    6
 8     9
 21    1
 12    3
 10    5
 2     5
 19    2
 4     0
 dtype: int64,
 21    1
 1     3
 4     0
 18    3
 12    3
 7     1
 20    6
 16    5
 9     5
 2     5
 dtype: int64,
 21    1
 14    8
 16    5
 13    4
 1     3
 14    8
 10    5
 4     0
 5     7
 12    3
 dtype: int64,
 2     5
 0     5
 14    8
 19    2
 5     7
 0     5
 20    6
 12    3
 15    9
 12    3
 dtype: int64]